<!doctype html>
<html lang="en">
  <head>
    <title>AWS Personal Health Dashboard</title>
    <meta http-equiv="refresh" content="5;URL=/">
  </head>
  <body>
    <img src="/loading.gif">
  </body>
</html>
